<%- include partials/header.ejs %>

<div class="column center">

  <h2>Login</h2>

  <form action="/login" method="post">
    <p>E-mail:</p>
    <input type="text" name="username" id="email">
    <p>Password:</p>
    <input type="password" name="password" id="password">
    <br/>
    <button type="submit">login</button>
  </form>

</div>

<%- include partials/footer.ejs %>
