<%- include partials/header.ejs %>

<p>This is the signup page</p>

<form action="/signup" method="post">
  <p>name:</p>
  <input type="text" name="name" id="username">
  <p>email:</p>
  <input type="text" name="email" id="username">
  <p>password</p>
  <input type="password" name="password" id="password">
  <button type="submit">Signup</button>
</form>

<%- include partials/footer.ejs %>
