<%- include partials/header.ejs %>

<p>This is the signup page</p>

<form action="/signup" method="post">
  <input type="text" name="username" id="username">
  <input type="password" name="password" id="password">
  <button type="submit">Signup</button>
</form>

<%- include partials/footer.ejs %>
