<%- include partials/header.ejs %>
<div class="column center">
  <span>
    <h3> Welcome to <h3>
    <h1 class="roam">Roam</h1>
  </span>

  <br>
  <br>

  <h3>Please</h3>
  <a href="/login"><h3>Login</h3></a>
  <h3>or</h3>
  <a href="/signup"><h3>Signup</h3></a>
<div>
<%- include partials/footer.ejs %>
