<div class ="navbar row-space-around">
  <h3>Roam</h3>
  <!-- <div class="nav-links row-space-around"> -->
    <a href="/signup"><p>Sign Up</p></a>
    <a href="/login"><p>Log In</p></a>
  <!-- </div> -->
</div>
