<div class ="navbar row-space-around">
  <h3 class="roam">Roam</h3>
  <!-- <div class="nav-links row-space-around"> -->
    <a href="/signup"><h3>Sign Up</h3></a>
    <a href="/login"><h3>Log In</h3></a>
  <!-- </div> -->
</div>
