<div class ="navbar row-space-around">
  <a href="/"><h1 class="roam navbar-text">Roam</h1></a>
  <!-- <div class="nav-links row-space-around"> -->
    <a href="/signup"><h3 class="navbar-text">Sign Up</h3></a>
    <a href="/login"><h3 class="navbar-text">Log In</h3></a>
  <!-- </div> -->
</div>
